body {
  font-family: "Ubuntu", sans-serif;
}

.img-fluid {
  display: block;
  width: 100%;
  height: auto;
}
.carousel .item {
  height: 600px;
}

.carousel-item {
  height: 600px;
}
.carousel-item img {
  height: 600px;
}
.carousel-content {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 20;
  color: rgb(17, 216, 10);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  background: rgba(231, 226, 226, 0.5);
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.header-background {
  background: url(../images/spencer-davis-1476603-unsplash.jpg);
  background-size: cover;
  background-position: center;
  min-height: 400px;
  opacity: 0.75;
}
/* header {
  min-height: 400px;

} */
h1 span {
  color: white;
  font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  /* background: rgba(0, 0, 0, 0.7); */
  padding: 10px;
  opacity: 0.9;
}
h1 span.spacer {
  padding: 0 5px;
}
.header-text {
  z-index: 10;
}

.profile-card-header {
  opacity: 0.5;
}

#render-suggest {
  background: rgb(100, 100, 100, 0.7);
}

.footer {
  position: static;
  background: lightgrey;
  /* background-image: url("../images/footer-background-011.png"); */
  opacity: 0.9;
  filter: Alpha(opacity=60);
  margin-top: 2em;
  float: left;
  width: 100%;
  height: 175px;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  line-height: 1em;
}

#copyright {
  font-size: 15px;
}

#heart {
  color: red;
}

#dropmodal {
  color: #17a2b8;
}

#profilebutton {
  /* float: right !important;
    right: 0;
    margin-left: 20%;
    position: relative;
    margin-left: 71%; */
}

.shadow-other {
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}
